[submodule "formulas/salt-formula"]
	path = formulas/salt-formula
	url = https://github.com/saltstack-formulas/salt-formula
[submodule "formulas/ntp-formula"]
	path = formulas/ntp-formula
	url = https://github.com/saltstack-formulas/ntp-formula
[submodule "formulas/sudoers-formula"]
	path = formulas/sudoers-formula
	url = https://github.com/saltstack-formulas/sudoers-formula
[submodule "formulas/firewalld-formula"]
	path = formulas/firewalld-formula
	url = https://github.com/saltstack-formulas/firewalld-formula
[submodule "formulas/openssh-formula"]
	path = formulas/openssh-formula
	url = https://github.com/evaryont/openssh-formula
[submodule "formulas/nginx-formula"]
	path = formulas/nginx-formula
	url = https://github.com/saltstack-formulas/nginx-formula
[submodule "formulas/postfix-formula"]
	path = formulas/postfix-formula
	url = https://github.com/saltstack-formulas/postfix-formula
[submodule "formulas/dovecot-formula"]
	path = formulas/dovecot-formula
	url = https://github.com/saltstack-formulas/dovecot-formula
[submodule "formulas/php-formula"]
	path = formulas/php-formula
	url = https://github.com/saltstack-formulas/php-formula
[submodule "formulas/powerdns-formula"]
	path = formulas/powerdns-formula
	url = https://github.com/saltstack-formulas/powerdns-formula
